<section class="hero is-fullheight is-light">
    <div class="hero-body has-text-centered">
      <div class="container">
        <div class="box">
            <h1 class="title"> LISTA VASIH SERTIFIKATA </h1>

            <table class="table">
                <thead>
                    <tr>
                        <th><abbr >Serial Num</abbr></th>
                        <th><abbr >Start Date</abbr></th>
                        <th><abbr >End Date</abbr></th>
                        <th><abbr >Name</abbr></th>
                        <th><abbr title="Organization">O</abbr></th>
                        <th><abbr title="Organization Unit">OU</abbr></th>
                        <th><abbr >Country</abbr></th>
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of certificates">
                        <td>{{c.serialNumber}}</td>
                        <td>{{c.startDate}}</td>
                        <td>{{c.endDate}}</td>
                        <td>{{c.subject.split(';')[0].slice(3)}}</td>
                        <td>{{c.subject.split(';')[1].slice(3)}}</td>
                        <td>{{c.subject.split(';')[2].slice(4)}}</td>
                        <td>{{c.subject.split(';')[3].slice(3)}}</td>
                    </tr>
                </tbody>
            </table> 
        </div>
      </div>
    </div>
</section>